<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

	<title>{{ page.title }} - halfbyte@github </title>
	<link rel="stylesheet" href="/stylesheets/screen.css" type="text/css" media="screen, projection">
  <link rel="stylesheet" href="/stylesheets/print.css" type="text/css" media="print"> 
  <!--[if IE]>
    <link rel="stylesheet" href="/stylesheet/ie.css" type="text/css" media="screen, projection">
  <![endif]-->
	<link rel="stylesheet" href="/stylesheets/custom.css" type="text/css" media="screen, projection">
  
</head>

<body>
  
  <div class="container">
  
    <div id="header" class="span-24">
      <h1>Jan "half/byte" Krutisch</h1>
      <p>and his awesome open source contributions<p>
    </div>

    <div id="content" class="span-15 append-1">
      {{ content }}
    </div>

    <div id="sidebar" class="span-8 last">
      <div>
      <h2>Currently active projects</h2>
      <ul>
        <li><strong>backrub</strong> - relaxing backups</li>
      </ul>
      <h2>Latest posts</h2>
      <ul>
      
        <li><strong>backrub</strong> - relaxing backups</li>
      </ul>
      </div>
    </div>

    <div id="footer" class="span-24">
      <p>&copy; Jan Krutisch<p>
    </div>

  </div>
</body>
</html>
